.tag-info-list {
  display: inline-block;
  overflow-y: scroll;
  height: 20em;
  width: 40%;
}

.tag-info {
  display: inline-block;
}

.tag-info-tag {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em !important;
  color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tag-info-selectable {
  filter: opacity(60%);
}

.tag-info-selectable:hover {
  filter: opacity(100%);
}